.janmar-bg {
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation:slide-in-right-nav 0.75s cubic-bezier(.25,.46,.45,.94) both;
  height: 100vh;
  background-image: url("./images/jan.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-attachment: fixed;

  h3 {
    font-size: 60px;
    border-bottom: 8px solid #6B6D76;
  }
}

.janmar-inner {
  height: 100vh;
  background-color: #C7CEDB;
}

.janmar-inner-info{
  text-align: center;
  font-size: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #2E3532;
  h5 {
    margin-top: 5vh;
    margin-bottom: 3vh;
    border-bottom: 2px solid #C7CEDB;
  }
  p {
    text-transform: none;
    margin-bottom: 7vh;
  }
  img {
    height: 60vh;
    border-radius: 15px;
    border: 2px solid #2E3532;

  }
}

.footer {
  color: #C7CEDB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-top: 1px solid #C7CEDB;
  background-color: #2E3432;
  p {
    font-size: 40px;
    font-style: italic;
    &:hover {
      cursor: pointer;
      transition: 1s;
      transform: scale(1.15);
    }
  }
}