* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

* {
  box-sizing: border-box; }

.grid-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; }
  .grid-container .row::before, .grid-container .row::after {
    content: "";
    display: table;
    clear: both; }
  .grid-container [class*='col-'] {
    float: none;
    width: 100%;
    min-height: 1px;
    padding: 12px; }
    @media (min-width: 550px) {
      .grid-container [class*='col-'] {
        float: left; } }
  @media (min-width: 550px) {
    .grid-container .col-1 {
      width: 8.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-2 {
      width: 16.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-3 {
      width: 25%; } }
  @media (min-width: 550px) {
    .grid-container .col-4 {
      width: 33.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-5 {
      width: 41.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-6 {
      width: 50%; } }
  @media (min-width: 550px) {
    .grid-container .col-7 {
      width: 58.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-8 {
      width: 66.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-9 {
      width: 75%; } }
  @media (min-width: 550px) {
    .grid-container .col-10 {
      width: 83.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-11 {
      width: 91.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-12 {
      width: 100%; } }

@keyframes slide-in-left {
  0% {
    transform: translateX(-300px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes slide-in-right {
  0% {
    transform: translateX(300px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@keyframes slide-in-right-nav {
  0% {
    transform: translateX(600px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
.front {
  font-size: 40px;
  background-color: #2E3532;
  height: 100vh;
  color: #C7CEDB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left; }
  .front h1, .front h2, .front p {
    margin-left: 10vw;
    animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-bottom: 30px; }

p {
  text-transform: uppercase;
  font-size: 30px; }

a {
  text-decoration: none;
  color: #C7CEDB; }

.button-front {
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin-left: 80vh;
  align-self: center;
  cursor: pointer;
  border-bottom: 2px solid #C7CEDB; }

.icons {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .icons img {
    margin-right: 40px; }
    .icons img:hover {
      transition: 0.5s;
      transform: scale(1.25); }

.navigation {
  animation: slide-in-right-nav 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.col-4 {
  color: #C7CEDB;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2E3532;
  height: 100vh; }
  .col-4 p {
    font-size: 15px;
    font-style: italic; }
    .col-4 p:hover {
      text-decoration: line-through; }

.sit:hover {
  transition: 2s;
  background-image: url("./images/sit-bg.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer; }

.janmar:hover {
  transition: 2s;
  background-image: url("./images/jan.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.an:hover {
  transition: 2s;
  background-image: url("./images/an.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.sit-bg {
  font-size: 80px;
  color: #2E3532;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: slide-in-right-nav 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 100vh;
  background-image: url("./images/sit-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-attachment: fixed; }
  .sit-bg h3 {
    font-size: 60px;
    border-bottom: 8px solid #6B6D76; }

.sit-inner {
  height: 220vh;
  background-color: #2E3532; }

.sit-inner-info {
  text-align: center;
  font-size: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #C7CEDB; }
  .sit-inner-info h5 {
    margin-top: 10vh;
    margin-bottom: 7vh;
    border-bottom: 2px solid #C7CEDB; }
  .sit-inner-info p {
    text-transform: none;
    margin-bottom: 7vh; }

.footer {
  color: #C7CEDB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-top: 1px solid #C7CEDB;
  background-color: #2E3432; }
  .footer p {
    font-size: 40px;
    font-style: italic; }
    .footer p:hover {
      cursor: pointer;
      transition: 0.5s;
      transform: scale(1.15); }

.sit-sample {
  margin-top: 10px; }

.janmar-bg {
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: slide-in-right-nav 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 100vh;
  background-image: url("./images/jan.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-attachment: fixed; }
  .janmar-bg h3 {
    font-size: 60px;
    border-bottom: 8px solid #6B6D76; }

.janmar-inner {
  height: 100vh;
  background-color: #C7CEDB; }

.janmar-inner-info {
  text-align: center;
  font-size: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #2E3532; }
  .janmar-inner-info h5 {
    margin-top: 5vh;
    margin-bottom: 3vh;
    border-bottom: 2px solid #C7CEDB; }
  .janmar-inner-info p {
    text-transform: none;
    margin-bottom: 7vh; }
  .janmar-inner-info img {
    height: 60vh;
    border-radius: 15px;
    border: 2px solid #2E3532; }

.footer {
  color: #C7CEDB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-top: 1px solid #C7CEDB;
  background-color: #2E3432; }
  .footer p {
    font-size: 40px;
    font-style: italic; }
    .footer p:hover {
      cursor: pointer;
      transition: 1s;
      transform: scale(1.15); }

.nadolna-bg {
  font-size: 80px;
  color: #2E3532;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: slide-in-right-nav 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 100vh;
  background-image: url("./images/an.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-attachment: fixed; }
  .nadolna-bg h3 {
    font-size: 60px;
    border-bottom: 8px solid #6B6D76; }

.nadolna-inner {
  height: 260vh;
  background-color: #2E3532; }

.nadolna-inner-info {
  text-align: center;
  font-size: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #C7CEDB; }
  .nadolna-inner-info h5 {
    margin-top: 10vh;
    margin-bottom: 7vh;
    border-bottom: 2px solid #C7CEDB; }
  .nadolna-inner-info p {
    text-transform: none;
    margin-bottom: 7vh; }

.footer {
  color: #C7CEDB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-top: 1px solid #C7CEDB;
  background-color: #2E3432; }
  .footer p {
    font-size: 40px;
    font-style: italic; }
    .footer p:hover {
      cursor: pointer;
      transition: 0.5s;
      transform: scale(1.15); }

.nadolna-sample {
  margin-top: 10px;
  border: 1px solid #2E3532; }

/*# sourceMappingURL=App.css.map */
